.flex{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.flex-item-4, .flex-item-6, .flex-item-8{
  margin-left: 10px;
  margin-right: 10px;
  align-self: flex-start;
}

.flex-item-4 {
  flex: 0 0 calc(33.333% - 20%);
  max-width: calc(33.333% - 20%);
}

.flex-item-6 {
  flex: 0 0 calc(50% - 20%);
  max-width: calc(50% - 20%);
}

.flex-item-8 {
  flex: 0 0 calc(66.666% - 20%);
  max-width: calc(66.666% - 20%);
}